/*
----------------------------------------
----------------------------------------
Universal
----------------------------------------
----------------------------------------
*/
body,
body .form-control,
body .btn {
    font-size: 16px;
}

.alert-primary {
    bottom: 0px;
    left: 0px;
    display: none;
    width: 100%;
    position: fixed;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    border-radius: 0px;
}

/*
----------------------------------------
----------------------------------------
Login Page
----------------------------------------
----------------------------------------
*/
.panel-login {
    margin-top: 25%;
}

.panel-login h1 {
    text-align: center;
}

.panel-login input {
    margin-bottom: 10px;
}

.panel-login input[type="submit"] {
    width: 100%;
}

/*
----------------------------------------
----------------------------------------
Misc
----------------------------------------
----------------------------------------
*/
.tiny-text {
    font-size: 12px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}