/*
----------------------------------------
----------------------------------------
Universal
----------------------------------------
----------------------------------------
*/
body,
body .form-control,
body .btn {
    font-size: 16px;
}

.alert-primary {
    width: 90%;
    left: 5%;
    bottom: 20%;
    font-size: 20px;
    text-align: center;
    position: fixed;
}

/*
----------------------------------------
----------------------------------------
Login Page
----------------------------------------
----------------------------------------
*/
.panel-login {
    margin-top: 25%;
}

.panel-login h1 {
    text-align: center;
}

.panel-login input {
    margin-bottom: 10px;
}

.panel-login input[type="submit"] {
    width: 100%;
}

/*
----------------------------------------
----------------------------------------
Misc
----------------------------------------
----------------------------------------
*/
.tiny-text {
    font-size: 12px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}