<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{ app.name }}</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main" aria-expanded="true">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-main" aria-expanded="false">
      <ul class="nav navbar-nav">
        <li
        {% if navHome %}
          class="active"
        {% endif %}
        >
          <a href="/">Home</a>
        </li>
        <li
        {% if navShowcase %}
          class="active"
        {% endif %}
        >
          <a href="/showcase">Showcase</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> Profile<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a href="/profile"><i class="fa fa-edit"></i> Profile</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/logout"><i class="fa fa-sign-out"></i> Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>